* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
input[type="submit"] {
  font-family: "Pixelify Sans", cursive;
}

h1,h2 {
  font-family: "Lexend", sans-serif;
}

label {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("../../assets/images/imagefond.png");
  background-size: cover;
}

nav {
  width: 100vw;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

header,
footer,nav {
  background-color: #500f77;
}

label,
.submit-button,
h1 {
  color: color-mix(in srgb, #24c652, #accc6c);
}

a {
  color: color-mix(in srgb, #24c652, #accc6c);
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: color-mix(in srgb, #24c652, #fcfcfc);
  text-decoration: underline color-mix(in srgb, #24c652, #fcfcfc) 2px;
}

a:active {
  color: color-mix(in srgb, #24c652, #fcfcfc);
}

main {
  width: 100vw;
  min-height: 100vh;
}

ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

li {
  list-style-type: none;
}

section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  /*padding-top:10px;*/
}

.nav-logo {
  width: 40px;
  height: auto;
}

h1 {
  font-size: 64px;
}

.connexion-form {
  width: 60vw;
  height: 50vh;
  display: flex;
}

.connexion-form form {
  width: 30vw;
  height: 50vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background-color: #4f1e75;
}

.connexion-form img {
  width: 30vw;
  height: 50vh;
  background-size: cover;
}

label {
  width: 120px;
  font-size: 16px;
}

.connexion-form .submit-button,
.inscription-link {
  font-size: 20px;
}

#connexion-form div {
  display: flex;
  column-gap: 10px;
}

#connexion-form div:last-child {
  align-items: center;
}

#connexion-form .submit-button,
.inscription-link {
  width: 218px;
  height: 32px;
  border-radius: 10px;
}

#connexion-form .submit-button {
  background-color: #3b115d;
}

#connexion-form .inscription-link {
  text-align: center;
  vertical-align: baseline;
}

#connexion-form .inscription-link,
#connexion-nom,
#connexion-password {
  background-color: #8918ce;
  color: color-mix(in srgb, #24c652, #accc6c);
}

#connexion-nom,
#connexion-password {
  width: 218px;
  height: 32px;
  border-radius: 10px;
}

#connexion-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #8918ce;
}

.inscription-form {
  width: 60vw;
  height: 50vh;
  display: flex;
}

.inscription-form form {
  width: 30vw;
  height: 50vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background-color: #4f1e75;
}

.inscription-form img {
  width: 30vw;
  height: 50vh;
  background-size: contain;
}

.inscription-form label {
  width: 120px;
}

#inscription-form div {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

#inscription-form .submit-button,
.connexion-link {
  width: 155px;
  height: 28px;
  border-radius: 10px;
}

#inscription-form .submit-button {
  background-color: #3b115d;
}

#inscription-form input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #8918ce;
  color: color-mix(in srgb, #24c652, #accc6c);
  width: 218px;
  height: 43px;
  border-radius: 10px;
}

#inscription-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #8918ce;
}

#inscription-form .connexion-link {
  background-color: #8918ce;
  text-align: center;
  line-height: 27px;
}

#inscription-form .condition-label {
  width: 290px;
}

.contact-form {
  width: 60vw;
  height: 50vh;
  display: flex;
}

.contact-form form {
  width: 30vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: #4f1e75;
}

.contact-form img {
  width: 30vw;
  height: 50vh;
  background-size: cover;
}

.contact-form label {
  width: 100px;
}

#contact-form div {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

#contact-form .submit-button {
  width: 148px;
  height: 27px;
  align-self: center;
  background-color: #3b115d;
  color: #accc6c;
  border-radius: 10px;
}

#contact-form input[type="text"],
input[type="email"],
select {
  width: 180px;
  height: 40px;
  border-radius: 10px;
}

#contact-form input[type="text"],
input[type="email"],
select,
textarea {
  background-color: #8918ce;
  color: color-mix(in srgb, #24c652, #accc6c);
}

.sliderwrapper .imageListe {
  display: grid;
  gap: 18px;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.sliderwrapper .imageListe::-webkit-scrollbar{
  display: none;
}

.sliderwrapper .imageListe .image-items{
  width: 325px;
  height: 450px;
  object-fit: cover;
}

.imageListe{
  min-height: 78vh;
}

.boiteTendance{
  max-width: 1200px;
  width: 95%;
}

.sliderwrapper{
  position: relative;
}

.sliderwrapper .slide-button{
  position: absolute;
  top: 32%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.sliderwrapper .slide-button:hover{
  background: #444;
}

.sliderwrapper .slide-button#prev-slide{
  left: -20px;
  display: none;
}

.sliderwrapper .slide-button#next-slide{
  right: -20px;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

.pixel-sans{
  font-family: "Pixelify Sans", cursive;
}

h2{
  color: color-mix(in srgb, #24c652, #accc6c);
}