* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,input[type=submit]{
  font-family: 'Pixelify Sans', cursive;
}

h1{
  font-family: 'Lexend', sans-serif;
}

label{
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("../../assets/images/imagefond.png");
}

nav {
  width: 100vw;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,footer{
  background-color: #500f77;
}

label,.submit-button,h1{
  color:color-mix(in srgb, #24c652, #accc6c);
}

a{
  color: color-mix(in srgb, #24c652, #accc6c);
  text-decoration: none;
  font-size: 16px;
}

a:hover{
  color:color-mix(in srgb, #24c652, #fcfcfc);
  text-decoration: underline color-mix(in srgb, #24c652, #fcfcfc) 2px;
}

a:active{
  color:color-mix(in srgb, #24c652, #fcfcfc);
}

main {
  flex-grow: 1;
}

ul {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

li {
  list-style-type: none;
}

section {
  width: 100vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.nav-logo {
  width: 40px;
  height: auto;
}

h1{
  font-size: 64px;
}
